@import 'tailwindcss';
@import 'open-props/easings';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin "daisyui" {
	themes:
		light --default,
		coffee --prefersdark;
}

@plugin 'daisyui/theme' {
	name: 'coffee';
	default: true;
	--color-info: --color-primary;
	--color-info-content: --color-primary-content;
}

@theme {
	--font-sans: 'Source Sans 3', system-ui;
}

/* View Transitions 
https://developer.chrome.com/docs/web-platform/view-transitions/same-document
*/
body {
	view-transition-name: body;
}

/* Normal navigation */
@keyframes fade-out-to-left {
	to {
		opacity: 0%;
		transform: translateX(-100%);
	}
}

@keyframes slide-from-right {
	from {
		transform: translateX(100%);
	}
}

@media (prefers-reduced-motion: no-preference) {
	:root::view-transition-old(body) {
		pointer-events: none;
		animation: 300ms ease-out both fade-out-to-left;
	}
	:root::view-transition-new(body) {
		pointer-events: none;
		animation: 300ms ease-out both slide-from-right;
	}
}

/* Back Navigation */
@keyframes fade-out-to-right {
	to {
		opacity: 0%;
		transform: translateX(100%);
	}
}

@keyframes slide-from-left {
	from {
		transform: translateX(-100%);
	}
}

@media (prefers-reduced-motion: no-preference) {
	:root[data-back]::view-transition-old(body) {
		pointer-events: none;
		animation: 300ms ease-out both fade-out-to-right;
	}
	:root[data-back]::view-transition-new(body) {
		pointer-events: none;
		animation: 300ms ease-out both slide-from-left;
	}
}
